.btn {
  color: #fff;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    filter: brightness(95%);
    transform: scale(1.1) translateY(-1px); }
  .btn:focus {
    outline: none; }
  .btn:active {
    transform: scale(1) translateY(0.5px); }

.text-field {
  width: 30rem;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  .text-field::placeholder {
    color: gray; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 40%; } }

.header {
  height: 100vh;
  background: radial-gradient(circle at bottom right, #7973e7 13%, #282385 66%, #282385 90%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh); }
  @media only screen and (max-width: 62.5em) {
    .header {
      height: 105vh; } }
  .header__top {
    display: flex;
    justify-content: space-between;
    padding: 4.5rem 7rem; }
  .header__buttons-1 {
    background-color: transparent;
    padding: .5rem 2.5rem; }
  .header__buttons-2 {
    background-color: #05d69b;
    padding: .5rem 2.5rem;
    border-radius: 2px; }
  .header__box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0rem 7rem; }
    @media only screen and (max-width: 62.5em) {
      .header__box {
        flex-wrap: wrap-reverse;
        justify-content: center; } }
  .header__box-right {
    margin-top: 10rem;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    width: 50%; }
    @media only screen and (max-width: 62.5em) {
      .header__box-right {
        flex-wrap: wrap-reverse;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .header__heading {
    font-size: 4rem; }
    @media only screen and (max-width: 62.5em) {
      .header__heading {
        text-align: center;
        font-size: 3rem; } }
  .header__button {
    font-size: 2rem;
    padding: 1.3rem 6rem;
    background-color: #05d69b;
    border-radius: 4px;
    margin-top: 4rem; }
  .header__hero {
    width: 38rem; }

.features {
  margin: 10rem 7rem;
  display: grid;
  grid-template-columns: min-content repeat(2, minmax(20rem, max-content));
  grid-template-rows: 20vh repeat(2, minmax(20rem, max-content)) 20vh;
  grid-column-gap: 20rem; }
  @media only screen and (max-width: 62.5em) {
    .features {
      grid-column-gap: 10rem;
      grid-row-gap: 5rem;
      margin: 5rem 7rem;
      grid-template-rows: 10vh repeat(2, minmax(10rem, max-content)) 10vh;
      grid-template-columns: min-content repeat(2, minmax(10rem, max-content)); } }
  .features__heading {
    grid-row: 1  / 2;
    grid-column: 1 / -1;
    justify-self: center;
    color: #070439;
    font-size: 3rem; }
  .features__image {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    width: 30rem; }
  .features__text-box-1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3; }
  .features__text-box-2 {
    grid-row: 2 / 3;
    grid-column: 3 / 4; }
  .features__text-box-3 {
    grid-row: 3 / 4;
    grid-column: 2 / 3; }
  .features__text-box-4 {
    grid-row: 3 / 4;
    grid-column: 3 / 4; }
  .features__h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #070439; }
  .features__text {
    font-size: 1.5rem;
    color: gray;
    line-height: 1.5; }
  .features__form {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 62.5em) {
      .features__form {
        margin-top: -8rem; } }
    .features__form--heading {
      color: #070439;
      font-size: 3rem;
      margin-top: 10rem;
      margin-bottom: 3rem; }
    .features__form--text {
      width: 60%;
      font-size: 1.5rem;
      color: #282385;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      margin-bottom: 3rem;
      text-align: center; }
    .features__form--box {
      display: flex;
      margin-bottom: 10rem; }
    .features__form--input {
      margin-right: 3rem; }
    .features__form--button {
      background-color: #05d69b;
      padding: 1rem 6rem;
      font-size: 1.4rem;
      border-radius: 3px;
      font-family: 'Raleway', sans-serif; }

.footer {
  background-color: #070439;
  margin-top: 20rem;
  padding: 10rem 7rem;
  -webkit-clip-path: polygon(0 0, 100% 25vh, 100% 100%, 0 100%);
  display: flex; }
  .footer__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    margin-top: 15rem; }
  .footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline; }
    .footer__info--logo {
      margin-bottom: 3rem; }
    .footer__info figure {
      display: flex;
      margin-bottom: 2rem;
      align-items: center;
      color: #fff; }
      .footer__info figure img {
        margin-right: 1rem; }
  .footer__box {
    display: flex;
    flex-direction: column; }
    .footer__box h2 {
      margin-bottom: 2rem;
      color: #fff; }
    .footer__box ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none; }
      .footer__box ul li {
        margin: 7px 0px; }
        .footer__box ul li a {
          text-decoration: none;
          color: #fff;
          font-size: 1.2rem;
          font-family: 'Open Sans', sans-serif; }
  .footer__form {
    display: flex;
    flex-direction: column;
    width: 25%; }
    .footer__form--text {
      color: #fff;
      font-size: 1.3rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      margin-bottom: 3rem; }
    .footer__form--input {
      margin-bottom: 1rem; }
    .footer__form--button {
      background-color: #05d69b;
      padding: 1rem 6rem;
      font-size: 1.4rem;
      border-radius: 3px;
      font-family: 'Raleway', sans-serif;
      align-self: flex-end; }
