////////////////////////////////////////
//// GLOBAL SETTINGS
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;


    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 40%;

    }
    
}

//////////////////////////////////////////
//// HEADER 
.header {
    height: 100vh;
    background: radial-gradient(circle at bottom right, rgba(121,115,231,1) 13%, rgba(40,35,133,1) 66%, rgba(40,35,133,1) 90%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh); 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh); 

    @media only screen and (max-width: $bp-largest) {
        height: 105vh;
    }
    @media only screen and (max-width: $bp-medium) {
        height: 97vh;
        background: radial-gradient(circle at bottom right, rgba(121,115,231,1) 13%, rgba(40,35,133,1) 66%, rgba(40,35,133,1) 90%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh); 
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh); 
    }

    @media only screen and (max-width: $bp-small) {
        height: 97vh;
        background: radial-gradient(circle at bottom right, rgba(121,115,231,1) 13%, rgba(40,35,133,1) 66%, rgba(40,35,133,1) 90%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92vh); 
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92vh); 
    }

    
    &__top {
        display: flex;
        justify-content: space-between;
        padding: 4.5rem 7rem;
        flex-wrap: wrap;

        @media only screen and (max-width: $bp-small) {
        padding: 3.5rem 4rem;
        }

        @media only screen and (max-width: $bp-smallest) {
           justify-content: center;
        }

        
    }

    &__logo {
        
        @media only screen and (max-width: $bp-smallest) {
            margin-bottom: 5rem;
        }

    }

    &__buttons {
              
        &-1 {                
            background-color: transparent;
            padding: .5rem 2.5rem;               
        }
       
        &-2 {
            background-color: $color-green;
            padding: .5rem 2.5rem;
            border-radius: 2px;
        }

    }


    &__box {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0rem 7rem;

        @media only screen and (max-width: $bp-largest) {
            margin-top: 3rem;           
        }

        @media only screen and (max-width: $bp-medium) {
            flex-wrap: wrap-reverse;
            justify-content: center;
        }

        @media only screen and (max-width: $bp-small) {
            margin-top: 2rem;
            padding: 0rem 4rem;

        }
    }


    &__box-right {
        margin-top: 10rem;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        width: 50%;

        @media only screen and (max-width: $bp-large) {
            flex-wrap: wrap-reverse;
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        @media only screen and (max-width: $bp-medium) {
            align-items: center;
            margin-top: 5rem;
            
        }

    }

    &__box-left {
        max-width: 52%;

        @media only screen and (max-width: $bp-small) {
            max-width: 60%;
        }

    }


    &__heading {
        font-size: 4rem;
        @media only screen and (max-width: $bp-large) {
          font-size: 3rem;
          


        }

        @media only screen and (max-width: $bp-medium) {
            text-align: center;
            
        }
    }

    &__button {
        font-size: 2rem;
        padding: 1.3rem 6rem;
        background-color: $color-green;
        border-radius: 4px;
        margin-top: 4rem;                
        
    }

    &__hero {
        width: 90%;
    }
}


//////////////////////////////////////////
//// FEATURES SECTION

.features {
    margin: 7rem 7rem;
    display: grid;
    grid-template-columns: min-content repeat(2, minmax(20rem, max-content));
    grid-template-rows: 20vh repeat(2, minmax(20rem, max-content)) 20vh;
    grid-column-gap: 20rem;


    @media only screen and (max-width: $bp-largest) {
    grid-column-gap: 10rem;
    grid-row-gap: 5rem;
    margin: 4rem 7rem;
    grid-template-rows: 10vh repeat(2, minmax(10rem, max-content)) 10vh;
    grid-template-columns: min-content repeat(2, minmax(10rem, max-content));
    }

    @media only screen and (max-width: $bp-medium) {
        grid-column-gap: 0;
        grid-row-gap: 2rem;
        margin: 1rem 7rem;

        grid-template-rows: minmax(100px, 10vh) repeat(2, minmax(10rem, max-content)) repeat(4, minmax(14rem, max-content)) minmax(250px, 10vh);
        grid-template-columns: minmax(20rem, 40rem);

        align-items: center;
        justify-items: center;

        //centers the whole grid track (the whole grid in this case) in the grid container 
        justify-content: center;

    }


    @media only screen and (max-width: $bp-small) {
        margin: 6rem 4rem;
        }

    &__heading {
        grid-row: 1  / 2;
        grid-column: 1 / -1;
        justify-self: center;

        color: $color-blue-very-dark;

        font-size: 3rem;
        text-align: center;

        @media only screen and (max-width: $bp-small) {
            font-size: 3.5rem;
        }


    }

    
    &__image {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
        width: 30rem;
        align-self: center;


        @media only screen and (max-width: $bp-medium) {
           margin-bottom: 5rem;
        }
    }

    &__text-box {

        &-1 {
            grid-row: 2 / 3;
            grid-column: 2 / 3;

            @media only screen and (max-width: $bp-medium) {
                grid-row: 4 / 5;
                grid-column: 1 / -1;
            }
        }

        &-2 {
            grid-row: 2 / 3;
            grid-column: 3 / 4;

            @media only screen and (max-width: $bp-medium) {
                grid-row: 5 / 6;
                grid-column: 1 / -1;
            }
        }

        &-3 {
            grid-row: 3 / 4;
            grid-column: 2 / 3;

            @media only screen and (max-width: $bp-medium) {
                grid-row: 6 / 7;
                grid-column: 1 / -1;
            }
        }

        &-4 {
            grid-row: 3 / 4;
            grid-column: 3 / 4;

            @media only screen and (max-width: $bp-medium) {
                grid-row: 7 / 8;
                grid-column: 1 / -1;
            }
        }
    }

    &__h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        margin-bottom: 2rem;
        color: $color-blue-very-dark;

        @media only screen and (max-width: $bp-small) {
            font-size: 2.5rem;
            }
    }

    &__text {
        font-size: 1.5rem;
        color: $color-gray;
        line-height: 1.5;

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
        }
    }

    // // FEATURES FORM // //

    &__form {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
        justify-self: center;

        display: flex;
        flex-direction: column;
        align-items: center;


        @media only screen and (max-width: $bp-medium) {  
            grid-row: 8 / 9;
            grid-column: 1 / -1;
        }

        &--heading {
            color: $color-blue-very-dark;
            font-size: 3rem;

            margin-top: 8rem;
            margin-bottom: 3rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
            text-align: center;
            }

        @media only screen and (max-width: $bp-small) {
            font-size: 3.5rem;
        } 

        @media only screen and (max-width: $bp-small) {
            margin-top: 20rem;
        }     

        }

        &--text {
    
            width: 60%;
            font-size: 1.5rem;
            color: #282385;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            margin-bottom: 3rem;
            text-align: center;


            @media only screen and (max-width: $bp-medium) {    
                width: 100%;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
            }

            @media only screen and (max-width: $bp-small) {
                font-size: 2rem;
            }
        }

        &--box {
            display: flex;
            margin-bottom: 10rem;

            
            @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
            align-items: stretch;

            }

            @media only screen and (max-width: $bp-small) {
                width: 100%;
            }
        }

        &--input {
            margin-right: 3rem;

            @media only screen and (max-width: $bp-medium) {
                margin-right: 0;
                margin-bottom: 2rem;

                &::placeholder {
                    color: $color-gray;
                    font-size: 2rem;
                    text-align: center;
                }
            }

            @media only screen and (max-width: $bp-small) {
                width: 100%;
                padding: 2rem 2rem;

            }
        }

        &--button {
            background-color: $color-green;
            padding: 1rem 6rem;
            font-size: 1.4rem;
            border-radius: 3px;
            font-family: 'Raleway', sans-serif;

            @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
            font-weight: 700;
            padding: 2rem 6rem;
            }
        }
    }
}

//////////////////////////////////////////////////////
/// FOOTER

.footer {
    background-color: $color-blue-very-dark;
    margin-top: 20rem;
    padding: 10rem 7rem;
 
    -webkit-clip-path: polygon(0 0, 100% 25vh, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 25vh, 100% 100%, 0 100%);

    display: flex;

    @media only screen and (max-width: $bp-medium) {
        -webkit-clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%);
    }

    @media only screen and (max-width: $bp-small) {
        -webkit-clip-path: polygon(0 0, 100% 8vh, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 8vh, 100% 100%, 0 100%);
    }

    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        margin-top: 15rem;

        @media only screen and (max-width: $bp-large) {
            flex-wrap: wrap;

            & > * {
                padding-left: 12vw;
                margin-bottom: 5rem;
            }
        }   
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;   
        align-items: baseline;
        
        @media only screen and (max-width: $bp-small) {
            flex: 0 0 100%;
            order: -2;
        }

        &--logo {   
            margin-bottom: 3rem;

            @media only screen and (max-width: $bp-small) {
                margin-bottom: 10rem;

            }
        }
       
        figure {
            display: flex;
            margin-bottom: 2rem;
            align-items: center;
            color: #fff;
            font-size: 1.6rem;

            @media only screen and (max-width: $bp-small) {
                font-size: 2rem;
            }

            img {
                margin-right: 1rem;
            }
        }
    }

    &__box {
        display: flex;
        flex-direction: column; 

         @media only screen and (max-width: $bp-small) {
            flex: 0 0 100%;
        }

        h2 {
            margin-bottom: 2rem;
            color: #fff;
            font-size: 2rem;

            @media only screen and (max-width: $bp-small) {
                font-size: 3rem;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;

            li {
                margin: 7px 0px;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.6rem;
                    font-family: 'Open Sans', sans-serif;

                    @media only screen and (max-width: $bp-small) {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    // //  FOOTER FORM // //


    &__form {
        display: flex;
        flex-direction: column;
        width: 25%;


        @media only screen and (max-width: $bp-large) {
            flex: 0 0 100%;
            order: -1;
            align-self: center;
            margin-bottom: 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            flex: 0 0 100%;
            order: -1;
        }

        &--text {
            color: #fff;
            font-size: 1.6rem;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            margin-bottom: 3rem;

            @media only screen and (max-width: $bp-large) {
                width: 30rem;
             }

             @media only screen and (max-width: $bp-small) {
                font-size: 2.2rem;
                line-height: 2;
                font-weight: 300;

            }
        }

        &--input {
            margin-bottom: 1rem;
        }

        &--button {
            background-color: $color-green;
            padding: 1rem 6rem;
            font-size: 1.4rem;
            border-radius: 3px;
            font-family: 'Raleway', sans-serif;
            
            align-self: flex-end;

            @media only screen and (max-width: $bp-large) {
               align-self: baseline;
            }

            @media only screen and (max-width: $bp-small) {
                align-self: baseline;
            }
        }
    }
}