*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
}


//////////////////////////////////////////
//// HEADER 
.header {
    height: 100vh;
    background: radial-gradient(circle at bottom right, rgba(121,115,231,1) 13%, rgba(40,35,133,1) 66%, rgba(40,35,133,1) 90%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95vh); 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh); 

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 4.5rem 7rem;

    }

    &__buttons {
              
        &-1 {                
            background-color: transparent;
            padding: .5rem 2.5rem;               
        }
       
        &-2 {
            background-color: $color-green;
            padding: .5rem 2.5rem;
            border-radius: 2px;
            
        }
    }


    &__box {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0rem 7rem;

    }




    &__box-right {
        margin-top: 10rem;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        width: 50%;


    }

    &__heading {
        font-size: 4rem;

    }

    &__button {
        font-size: 2rem;
        padding: 1.3rem 6rem;
        background-color: $color-green;
        border-radius: 4px;
        margin-top: 4rem;        
    }

    &__hero {
        width: 380px;
    }
}

//////////////////////////////////////////
//// FEATURES SECTION

.features {
    margin: 10rem 7rem;
    display: grid;
    grid-template-columns: min-content repeat(2, minmax(20rem, max-content));
    grid-template-rows: 20vh repeat(2, minmax(20rem, max-content)) 20vh;
    grid-column-gap: 20rem;
    &__heading {
        grid-row: 1  / 2;
        grid-column: 1 / -1;
        justify-self: center;

        color: $color-blue-very-dark;

        font-size: 3rem;

    }
    
    &__image {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
        width: 300px;

    }

    &__text-box {

        &-1 {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }

        &-2 {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
        }

        &-3 {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
        }

        &-4 {
            grid-row: 3 / 4;
            grid-column: 3 / 4;
        }
    }

    &__h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 2rem;
        margin-bottom: 2rem;
        color: $color-blue-very-dark;

    }

    &__text {
        font-size: 1.5rem;
        color: $color-gray;
        line-height: 1.5;
    }

    &__form {
        grid-row: 4 / 5;
        grid-column: 1 / -1;

        justify-self: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        &--heading {
            color: $color-blue-very-dark;
            font-size: 3rem;

            margin-top: 10rem;
            margin-bottom: 3rem;
        }

        &--text {
    
            width: 60%;
            font-size: 1.5rem;
            color: #282385;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            margin-bottom: 3rem;
            text-align: center;

        }

        &--box {
            display: flex;
            margin-bottom: 10rem;
        }

        &--input {
            width: 30rem;

            padding: 1rem 2rem;


            border: 1px solid #fff;
            border-radius: 3px;
            box-shadow: 0 2rem 5rem rgba(#000000, .2);



            margin-right: 3rem;

            &::placeholder {
                color: $color-gray;
                
            }
        }

        &--button {
            background-color: $color-green;
            padding: 1rem 6rem;



            
            font-size: 1.4rem;
            border-radius: 3px;
            font-family: 'Raleway', sans-serif;




        }

    }
}