// PRIMARY COLORS
$color-blue-soft: hsl(243, 86%, 85%);
$color-blue-very-dark: hsl(243, 87%, 12%);

//ACCENT COLORS
$color-green:  hsl(163, 95%, 43%);
$color-blue-dark: hsl(243, 58%, 33%);

// NEUTRAL

$color-gray: hsl(0, 0%, 50%);

///////////////////////////////
/////  RESPONSIVE BREAKPOINTS 
$bp-largest: 75em; // 1000px
$bp-large: 62.5em;
$bp-medium: 40.625em; // 
$bp-small: 28.125em; //
$bp-smallest: 21.875em; // 350px